.Homepagewrapper{
display:flex;
justify-content:center;
align-items:center;
color:#fff;
height:100vh;
}
.formwrapper{
  background-color:#282a36;
 padding:20px;
 border-radius:10px;
 width:400px;
 max-width:90%
}
.inputGroup{
  display:flex;
  flex-direction:column;
  padding:15px;
}
.mainlabel{
  margin-bottom:5px;
}
.homepagelogo{
  height:80px;
  margin-bottom:30px;
}
.inputbox{
  padding:10px;
  border-radius:5px;
  margin-bottom:14px;
  outline:none;
  border:none;
  background:#eee;
  font-size: 16px;
  font-weight:semibold;

}
.btn{
  border:none;
  padding:10px;
  border-radius:5px;
  font-size:16px;
  cursor:pointer;
  transition: all 0.3s ease-in-out;
}
.joinbtn{
  background-color:#4aed88;
  width:100px;
  margin-left:auto;
}
.joinbtn:hover{
  background-color:#2b824c;
} 
.createinfo{
  margin:0 auto;
  margin-top:20px;
}
.createnewbtn{
  color:#4aed88;
  text-decoration:none;
  border-bottom:1px solid #4aed88;
  transition:all 0.3s ease-in-out;
}
.createnewbtn:hover{
  color:#2b824c;
  border-color:#2b824c;
}